RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<Files stellif.db>
Order allow,deny
Deny from all
</Files>

<Files version.txt>
Order allow,deny
Deny from all
</Files>